[submodule "4-foundry-simple-storage/lib/forge-std"]
	path = 4-foundry-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-foundry-fund-me/lib/forge-std"]
	path = 5-foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "4-foundry-simple-storage-f23/lib/forge-std"]
	path = 4-foundry-simple-storage-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-foundry-fund-me-f23/lib/forge-std"]
	path = 5-foundry-fund-me-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "6-foundry-smart-contract-lottery-f23/lib/forge-std"]
	path = 6-foundry-smart-contract-lottery-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "6-foundry-smart-contract-lottery-f23/lib/chainlink"]
	path = 6-foundry-smart-contract-lottery-f23/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "6-foundry-smart-contract-lottery-f23/lib/solmate"]
	path = 6-foundry-smart-contract-lottery-f23/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "6-foundry-smart-contract-lottery-f23/lib/foundry-devops"]
	path = 6-foundry-smart-contract-lottery-f23/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
